
body
{
    background-image: url('../pics/dotted_bg.png')!important;
	background-repeat: repeat;
}
.modal{
	position: absolute;
	height: auto;
}

.modal-content
{
	background-image: url('../pics/papir.png');
	height: auto;

    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 

}

#teip {
	left: 15%;
	top: 70%;
	position: absolute;
	margin-top: -79px;
	margin-left: 60px;
}

#sticker{
	left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

#content {
	position: relative;
    display: block;
}